<p id="notice"><%= notice %></p>

<h1>Admin: Polls</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @polls.each do |poll| %>
      <tr>
        <td><%= poll.name %></td>
        <td><%= link_to 'Show', admin_path(poll) %></td>
        <td><%= link_to 'Edit', edit_admin_path(poll) %></td>
        <td><%= link_to 'Delete', admin_path(poll), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Poll', new_admin_path %>
