<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>
<h1>Admin: Show/Edit Poll</h1>
<p>
  <strong>Poll:</strong>
  <%= @poll.name %>
</p>

<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Option</th>
      <th>Priority</th>
      <th>Votes</th>
      <th>Delete option</th>
    </tr>
  </thead>
  <% tt = 0 %>
  <tbody>
    <% @poll.poll_options.each do |option| %>
      <tr>
        <td><%= tt+=1 %></td>
        <td><%= option.option %></td>
        <td><%= option.priority %></td>
        <td><%= option.votes %></td>
        <td class="delete-option"><%= link_to 'Delete', poll_option_url({:poll_id => @poll.id, :option_id => option.id}), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_admin_path(@poll) %> |
<%= link_to 'Back', admin_index_path %>
<%= javascript_pack_tag 'admin/DeletePollOption', 'data-turbolinks-track': 'reload' %>
