<%= form_with(model: poll, local: true) do |poll_form| %>
  <% if poll.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(poll.errors.count, "error") %> prohibited this poll from being saved:</h2>

      <ul>
        <% poll.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%
    total = 0
    poll.poll_options.each do |option|
      total+=option.votes
    end

    percents = {}
    poll.poll_options.each do |option|
      if option.votes.eql? 0
        percents[option.id] = '-'
      else
        percents[option.id] = ((option.votes.to_f / total.to_f) * 100).round(2).to_s
      end
    end
  %>
  <%= poll_form.fields_for :poll_options do |poll_option_form| %>
    <div class="field">
      <%= radio_button_tag(:votes, poll_option_form.object.id) %>
      <%= label_tag("votes_#{poll_option_form.object.id}", 'Votes for ' + poll_option_form.object.option + ': ' + poll_option_form.object.votes.to_s + ' (' + percents[poll_option_form.object.id]) + ' %)' %>
    </div>
  <% end %>
  <div>Total votes: <%= total %></div>
  <div class="actions">
    <%= poll_form.submit %>
  </div>
<% end %>
