<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<p>
  <strong>Question:</strong>
  <%= @poll.name %>
</p>

<%= render 'form', poll: @poll %>

<%= link_to 'Back', polls_path %>
<%= javascript_pack_tag 'public/voting', 'data-turbolinks-track': 'reload' %>
